<nz-card [nzBordered]="false" [nzTitle]="title">
    <nz-card-tab>
        <nz-tabset [nzSelectedIndex]="'0'" [nzTabBarExtraContent]="extraTemplate">
            <nz-tab [nzTitle]="'修改密码'"></nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4">
                        账号
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="12">
                        <input nz-input formControlName="userName" placeholder="'未获取到账号'" readonly>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="4">
                        原密码
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="12">
                        <input type="password" nz-input formControlName="oldPassword" placeholder="请输入原密码">
                        <nz-form-explain *ngIf="form.get('oldPassword').dirty && form.get('oldPassword').errors">密码须是字母与数字的组合（6~16位）
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="4">
                        新密码
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="12">
                        <input type="password" nz-input formControlName="newPassword" placeholder="请输入新的密码">
                        <nz-form-explain *ngIf="form.get('newPassword').dirty && form.get('newPassword').errors">密码须是字母与数字的组合（6~16位）
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row class="mb0">
                    <nz-form-control nz-col [nzSpan]="20" [nzOffset]="4">
                        <button nz-button nzType="primary" [disabled]="!form.valid" type="submit">提交</button>
                        <button nz-button type="button" (click)="back()">返 回</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
    <ng-template #extraTemplate>
        <!--<button nz-button nzType="primary" type="submit" style="margin-right: 20px;" [nzLoading]="submitting">提 交</button>-->
        <!--<button nz-button (click)="back()" nzType="primary">返 回</button>-->
    </ng-template>
    <ng-template #title>
        <nz-divider class="title_divider" nzType="vertical"></nz-divider>
        <span>修改密码</span>
    </ng-template>
</nz-card>