<nz-card [nzBordered]="false" [nzTitle]="titleView">
  <nz-card-tab>
    <ng-template #tab>
      <nz-list-item [nzContent]="itemContentTemplate" [nzActions]="[cancelAction,SubAction]">
        <ng-template #SubAction>
          <button *ngIf="tradeStatus > 0" nz-button (click)="_submitForm()" [nzLoading]="isLoadingOne" [disabled]="btndisabled" nzType="primary">
            立即支付
          </button>
        </ng-template>
        <ng-template #cancelAction>
          <button nz-button (click)="cancel()" nzType="default">
            返回
          </button>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template [ngTemplateOutlet]="tab"></ng-template>
    <ng-template #titleView>
      <nz-divider class="title_divider" nzType="vertical"></nz-divider>
      <span>支付订单</span>
    </ng-template>
  </nz-card-tab>
  <ng-template #itemContentTemplate></ng-template>
  <div nz-row class="orderpay">
    <div nz-col [nzSpan]="12">
      <div class="t clearfix">
        <div class="l">
          <i class="anticon {{anticon}}"></i>
        </div>
        <div class="r">
          <div class="h">{{titiletext}}</div>
          <div class="em" *ngIf="tradeStatus > 0">请在
            <span>{{Countdown}}</span> 内完成支付，超过时间后系统将自动取消订单！</div>
        </div>
      </div>
      <div class="list">
        <div class="">订单号：{{dataList.orderNo}}</div>
        <div class="">订单金额：￥{{dataList.totalPrice}}</div>
        <div class="">商品名称：{{dataList.productName}}</div>
        <div class="">公司名称：{{enterpriseName}}</div> 
        <div class="">联系人：{{dataList.contact}}</div>
        <div class="">联系人电话：{{dataList.phone}}</div>
      </div>
      <div class="paytype" *ngIf="tradeStatus > 0">
        <div class="h">请选择支付方式</div>
        <div class="type">
          <a class="{{alipayactive}}" (click)="alipay()">
            <img src="../../../../assets/img/icon_Alipay.png" alt="支付宝">
            <span>支付宝</span>
          </a>
          <a class="{{wechatactive}}" (click)="wechat()">
            <img src="../../../../assets/img/icon_weichat.png" alt="微信">
            <span>微信</span>
          </a>
        </div>
      </div>
      <div class="wechatbox {{isvisible}}">
        <div>{{wechattext}}</div>
        <img nz-col [nzSm]="12" src="{{img}}" id="image" alt="" class="erweimaimg">
      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <div class="right">
        <img src="../../../../assets/img/pic_indent.png" alt="">
        <div class="text">如需合同请点击下载
          <span (click)="download()">《才链云软件服务协议》</span>
        </div>
      </div>
    </div>
  </div>
</nz-card>