<nz-card [nzBordered]="false"  [nzTitle]="title">
  <nz-card-tab>
    <ng-template #tab>
      <nz-tabset [nzSelectedIndex]="1" [nzTabBarExtraContent]="tabToolBarTemplate">
        <nz-tab *ngFor="let i of tabs" [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <div (click)="to(i.key)">{{i.tab}}</div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </ng-template>
    <ng-template [ngTemplateOutlet]="tab"></ng-template>
  </nz-card-tab>
  <div nz-row>
    <section class="tab-content">
      <nz-table #basicTable nzBordered nzShowPagination="false"  [nzData]="dataLists"  nzNoResult="没有数据">
        <thead>
        <tr>
          <th>
            <span>序号</span>
          </th>
          <th>
            <span>模块</span>
          </th>
          <th>
            <span>功能</span>
          </th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr  *ngFor="let i of dataLists let no = index">
          <td>{{ no+1 }}</td>
          <td><label nz-checkbox [nzDisabled]="isTemplate == '1'"
             (nzCheckedChange)="checkAll(no,i.guid,$event, no)" [(ngModel)]="dataLists[no].isDefault " [nzIndeterminate]="dataLists[no].indeterminate" >{{i.menuName}}</label></td>
          <td>
            <label nz-checkbox [nzDisabled]="isTemplate == '1'"
             *ngFor="let item of i.subMenuList" (nzCheckedChange)="checkAll('999',item.guid,$event, no)" [(ngModel)]="item.isDefault" >{{item.menuName}}</label>
          </td>
        </tr>
        </tbody>
      </nz-table>

    </section>
  </div>
  <ng-template #title>
    <nz-divider class="title_divider" nzType="vertical"></nz-divider>
    <span>权限管理</span>
  </ng-template>
  <ng-template #tabToolBarTemplate>
    <button nz-button type="button" [routerLink]="['/companyadmin/role']" nzType="primary">返回</button>
    <button nz-button type="button" [disabled]="isTemplate == '1'" (click)="submit()" nzType="primary">确定</button>
  </ng-template>
</nz-card>
