<div class="nz-row register-type-box">
    <div class="login-top" nz-row>
        <div class="login-top-box">
            <img src="./assets/img/login_logo.png" width="140"/>
        </div>
        <!-- <div class="login-index" style="float:right;margin-right: 32px;margin-top: -8px"><i
                class="anticon anticon-home"></i>首页
        </div> -->
    </div>
    <div class="ant-col-24 body-box" nz-row [nzGutter]="24" >
        <div class="register-type-content">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="footer-div-box">
            <div class="register-footer">
                <div nz-row>
                    <div nz-col nzSpan="8">
                        <div>
                            <ul>
                                <li class="icon-box"><i class="qq"></i>
                                    <i class="wechat"></i>
                                    <a href=""><i class="weibo"></i></a>
                                    <a href=""><i class="toutiao"></i></a>
                                    <a href=""><i class="zhihu"></i></a>
                                </li>
                                <li> </li>
                                <li>© All Rights Reserved.渝ICP备18002151号</li>
                            </ul>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div>
                            <ul>
                                <li>
                                    <a href="">公司官网</a>
                                    <a href="">产品简介</a>
                                    <a href="">联系我们</a>
                                    <a href="">行业新闻</a>
                                </li>
                                <li><a href="">何为才链云？</a></li>
                                <li>才链云是在Talust公有链的基础上搭建的R+SaaS系统和资源整合服务，构建低成本高效的人力资源管理平台。</li>
                            </ul>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div>
                            <ul>
                                <li><a href="">友情链接</a></li>
                                <li></li>
                                <li><a href="">TALUST</a><a href="">TULUST社区招募</a><a href="">TULUST区块浏览器</a><a href="" style="margin-right: 0">巴比特</a><a href="">区块网</a><a href="">金色财经</a><a href="">非小号</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>


