<nz-card [nzBordered]="false" [nzTitle]="titleView">
    <ng-template #titleView>
        <nz-divider class="title_divider" nzType="vertical"></nz-divider>
        <span>模板权限管理</span>
    </ng-template>
    <nz-card-tab>
        <ng-template #tab>
            <nz-list-item [nzContent]="itemContentTemplate" [nzActions]="[returnAction, addAction]">
                <ng-template #itemContentTemplate></ng-template>
                <ng-template #returnAction>
                    <button nz-button nzType="default" [routerLink]="['/admin/templaterole']">返回</button>
                </ng-template>
                <ng-template #addAction>
                    <button nz-button nzType="primary" [disabled]="!form.valid" (click)="save()">确定</button>
                </ng-template>

            </nz-list-item>
        </ng-template>
        <ng-template [ngTemplateOutlet]="tab"></ng-template>
    </nz-card-tab>
    <div nz-row>
        <form nz-form [formGroup]="form">
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>权限中文名</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input placeholder="请输入权中文名" formControlName="roleName">
                    <nz-form-explain *ngIf="form.get('roleName').dirty && form.get('roleName').errors">权限中文名不能为空！</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>权限名称</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input placeholder="请输入权限名称" formControlName="roleScope">
                    <nz-form-explain *ngIf="form.get('roleScope').dirty && form.get('roleScope').errors">权限名称不能为空！</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>是否可配置</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <nz-select style="width: 120px;" formControlName="isConfig" nzAllowClear nzPlaceHolder="请选择配置">
                        <nz-option nzValue="1" nzLabel="是"></nz-option>
                        <nz-option nzValue="0" nzLabel="否"></nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="form.get('isConfig').dirty && form.get('isConfig').errors">请选择配置</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="3">权限描述</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <textarea nz-input placeholder="请输入描述" formControlName="dataScope"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</nz-card>