<nz-card [nzBordered]="false"  [nzTitle]="title">
        <nz-card-tab>
          <ng-template #tab>
            <nz-tabset (nzSelectChange)="tabChange($event)" [nzTabBarExtraContent]="tabToolBarTemplate">
              <nz-tab [nzTitle]="nzTitle0">
                <ng-template #nzTitle0>
                  <div>PC端管理</div>
                </ng-template>
              </nz-tab>
              <nz-tab [nzTitle]="nzTitle1">
                <ng-template #nzTitle1>
                  <div>APP端管理</div>
                </ng-template>
              </nz-tab>
            </nz-tabset>
          </ng-template>
          <ng-template [ngTemplateOutlet]="tab"></ng-template>
        </nz-card-tab>
        <div nz-row>
          <section class="tab-content">
            <nz-table #tableId nzBordered nzShowPagination="false"  [nzData]="menuList"  nzNoResult="没有数据">
              <thead>
              <tr>
                <th>
                  <span>序号</span>
                </th>
                <th>
                  <span>模块</span>
                </th>
                <th>
                  <span>功能</span>
                </th>
              </tr>
              </thead>
              <tbody nz-tbody>
              <tr  *ngFor="let item of tableId.data let no = index">
                <td>{{ no+1 }}</td>
                <td>
                    <label nz-checkbox (nzCheckedChange)="onChecked($event, 1, item)" 
                    [(ngModel)]="item.checked " [nzIndeterminate]="item.nzIndeterminate">{{item.menuName}}</label></td>
                <td>
                  <label nz-checkbox *ngFor="let subItem of item.subMenuList" (nzCheckedChange)="onChecked($event, 2, subItem, item)" 
                    [(ngModel)]="subItem.checked" >{{item.menuName}}</label>
                </td>
              </tr>
              </tbody>
            </nz-table>
      
          </section>
        </div>
        <ng-template #title>
          <nz-divider class="title_divider" nzType="vertical"></nz-divider>
          <span>权限管理</span>
        </ng-template>
        <ng-template #tabToolBarTemplate>
          <button nz-button type="button" [routerLink]="['/sysfunc/sysrole']" nzType="default">返回</button>
          <button nz-button type="button" (click)="authorization()" nzType="primary">确定</button>
        </ng-template>
      </nz-card>