<nz-card [nzBordered]="false" [nzTitle]="titleView">
    <nz-card-tab>
        <nz-tabset>
            <nz-tab nzTitle="个人资料"></nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <ng-template #titleView>
        <nz-divider class="title_divider" nzType="vertical"></nz-divider>
        <span>个人资料</span>
    </ng-template>
    <div nz-row>
        <nz-spin [nzSpinning]="loading">
            <section>
                <div class="extra">
                    <div class="title">
                        <span class="text">修改登录密码</span>
                    </div>
                    <div nz-row class="mb-md">
                        <form nz-form [formGroup]="passwordForm">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="3" nzRequired>
                                    原密码
                                </nz-form-label>
                                <nz-form-control [nzSpan]="4">
                                    <input type="password" nz-input formControlName="oldPassword">
                                    <nz-form-explain *ngIf="passwordForm.get('oldPassword').dirty && passwordForm.get('oldPassword').hasError('required')">
                                        请输入您的旧密码！
                                    </nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="3" nzRequired>
                                    新密码
                                </nz-form-label>
                                <nz-form-control [nzSpan]="4">
                                    <input type="password" nz-input formControlName="newPassword">
                                    <nz-form-explain *ngIf="passwordForm.get('newPassword').dirty && passwordForm.get('newPassword').hasError('required')">
                                        请输入您的新密码！
                                    </nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="3" nzRequired>确认密码</nz-form-label>
                                <nz-form-control [nzSpan]="4">
                                    <input type="password" nz-input formControlName="checkPassword">
                                    <nz-form-explain *ngIf="passwordForm.get('checkPassword').dirty && 
                                    (passwordForm.get('checkPassword').hasError('required') || passwordForm.get('checkPassword').hasError('confirm'))">
                                        <ng-container *ngIf="passwordForm.get('checkPassword').hasError('required')">
                                            请确认您的密码！
                                        </ng-container>
                                        <ng-container *ngIf="passwordForm.get('checkPassword').hasError('confirm')">
                                            两次密码输入不一致！
                                        </ng-container>
                                    </nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control [nzOffset]="3">
                                    <button nz-button nzType="default" (click)="cancel()">返回</button>
                                    <button nz-button nzType="primary" [disabled]="!passwordForm.valid" (click)="ok()">确定</button>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                </div>
            </section>
        </nz-spin>
    </div>
</nz-card>