.state {
  width: 4px;
  height: 4px;
  display: inline-block;
  background: red;
  margin-right: 5px;
  border-radius: 50%;
}
.noread {
  color: #1890ff;
  font-weight: 500;
}
:host ::ng-deep .floatright {
  float: right;
}
