:host ::ng-deep .ant-layout-content {
  padding: 24px;
  max-width: 900px;
}
.uploader-file .title {
  font-size: 16px;
  color: #0f0f0f;
  margin-top: 16px;
}
.file-list .clearfix {
  overflow: hidden;
  zoom: 1;
  margin-top: 16px;
  cursor: pointer;
}
.file-list .clearfix div {
  float: left;
}
.file-list .clearfix .icon-img {
  width: 62px;
  height: 46px;
}
.file-list .clearfix .name {
  width: 80%;
  color: #1890ff;
  font-size: 14px;
  margin-left: 16px;
}
.file-list .clearfix .size {
  width: 80%;
  font-size: 14px;
  margin-left: 16px;
  color: #999999;
}
