<nz-card [nzBordered]="false" [nzTitle]="titleValue">
    <nz-card-tab>
        <ng-template #tab>
            <nz-list-item [nzContent]="itemContentTemplate" [nzActions]="[cancelAction,showAction, saveAction]">
                <ng-template #cancelAction>
                    <button nz-button nzType="default" (click)="cancel()">
                        取消
                    </button>
                </ng-template>
                <ng-template #showAction>
                    <button nz-button nzType="default" [disabled]="!form.valid" (click)="showInterview()">
                        查看Offer
                    </button>
                </ng-template>
                <ng-template #saveAction>
                    <button nz-button nzType="primary" [disabled]="!form.valid" (click)="_submitForm()">发送Offer</button>
                </ng-template>
            </nz-list-item>
        </ng-template>
        <ng-template [ngTemplateOutlet]="tab"></ng-template>
        <ng-template #titleValue>
            <nz-divider class="title_divider" nzType="vertical"></nz-divider>
            <span>发送Offer</span>
        </ng-template>
    </nz-card-tab>
    <ng-template #itemContentTemplate>
    </ng-template>
    <div nz-row [nzGutter]="12" class="resume-recommend-box">
        <nz-col [nzMd]="24" class="employee-add">
            <form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">
                <div nz-row class="resume-recommend-title">
                    <div nz-col [nzSm]="2">
                    </div>
                    <div nz-col [nzSm]="16">
                        <div class="title"><span>{{detailData.name}} - {{detailData.phone}} - {{detailData.email}}</span></div>
                    </div>
                </div>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        报道时间
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="Select Time" formControlName="interviewTime" [(ngModel)]="dataList.interviewTime"></nz-date-picker>
                        <div nz-form-explain *ngIf="(form.get('interviewTime').dirty || form.get('interviewTime').touched) && form.get('interviewTime').errors">
                            请选报道时间
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="2" nzRequired>
                            试用期
                        </nz-form-label>
                        <nz-form-control nz-col [nzSm]="16">
                            <nz-select formControlName="probationStage" nzPlaceHolder="请选择试用期" nzAllowClear>
                                <nz-option *ngFor="let item of positionList;let i = index;" [nzLabel]="item.dictName" [nzValue]="item.guid">
                                </nz-option>
                                <div nz-form-explain *ngIf="(form.get('probationStage').dirty ||form.get('probationStage').touched) && form.get('probationStage').errors">
                                    请选择试用期
                                </div>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        入职职位
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <input nz-input formControlName="interviewEntry" [(ngModel)]="dataList.interviewEntry" placeholder="请输入入职职位">
                        <div nz-form-explain *ngIf="(form.get('interviewEntry').dirty ||form.get('interviewEntry').touched) && form.get('interviewEntry').errors">
                            请填写入职职位
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="2">
                            入职部门
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-select formControlName="interviewEntrybm" [(ngModel)]="dataList.interviewEntrybm" nzPlaceHolder="请输入入职部门" nzAllowClear>
                        <nz-option *ngFor="let option of departmentOptions" [nzLabel]="option.departmentName" [nzValue]="option.guid">
                        </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="(form.get('interviewEntrybm').dirty || form.get('interviewEntrybm').touched) && form.get('interviewEntrybm').errors">
                            请选择入职部门
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        入职地址
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <input nz-input formControlName="interviewAddress" [(ngModel)]="dataList.interviewAddress" placeholder="请输入入职地址">
                        <div nz-form-explain *ngIf="(form.get('interviewAddress').dirty ||form.get('interviewAddress').touched) && form.get('interviewAddress').errors">
                            请填写入职地址
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="2">
                        公司联系人
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <span class="interview" nz-button nzType="default" (click)="setEmployeeshowModal()">
                                <!-- <span class="interview" nz-button nzType="default" (click)="setEmployeeshowModal('1', '2')"> -->
                            <span *ngIf="makeSure === 1" style="padding:15px">+ 请选择公司联系人</span>
                            <!-- <span *ngIf="makeSure === 2">{{selectPeopleName}}</span> -->
                            <input type="button" *ngIf="makeSure === 2" nz-input formControlName="selectPeopleName" [(ngModel)]="selectPeopleName" style="border:none;outline: none;">
                            <div nz-form-explain *ngIf="(form.get('selectPeopleName').dirty ||form.get('selectPeopleName').touched) && form.get('selectPeopleName').errors">
                                请填写公司联系人
                            </div>
                        </span>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="2">
                        联系人电话
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <input nz-input formControlName="responsiblePhone" [(ngModel)]="dataList.responsiblePhone" placeholder="请输入联系人电话" nzValue="12345161663">
                        <div nz-form-explain *ngIf="(form.get('responsiblePhone').dirty ||form.get('responsiblePhone').touched) && form.get('responsiblePhone').errors">
                            请填写联系人电话
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        工作性质
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-select formControlName="NatureOfWork" nzPlaceHolder="请选择工作性质" nzAllowClear>
                            <nz-option *ngFor="let item of NatureOfWorkModelData;let i = index;" [nzLabel]="item.dictName" [nzValue]="item.guid">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nzRequired nz-col [nzSm]="2">
                        记薪方式
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-select formControlName="PayStyle" nzAllowClear nzPlaceHolder="计薪方式" [(ngModel)]="PayStyleModel">
                            <nz-option *ngFor="let option of PayStyleModelData" [nzLabel]="option.dictName" [nzValue]="option.guid">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        转正工资（元）
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="6">
                        <input nz-input formControlName="interviewWages" [(ngModel)]="dataList.interviewWages" placeholder="请输入转正工资">
                        <div nz-form-explain *ngIf="(form.get('interviewWages').dirty ||form.get('interviewWages').touched) && form.get('interviewWages').errors">
                            请填写转正工资
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                        试用期工资（元）
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="6">
                        <input nz-input formControlName="interviewWagessy" [(ngModel)]="dataList.interviewWagessy" placeholder="请输入试用期工资">
                        <div nz-form-explain *ngIf="(form.get('interviewWagessy').dirty ||form.get('interviewWagessy').touched) && form.get('interviewWagessy').errors">
                            请填写试用期工资
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2">
                        薪资备注
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <textarea nz-input [(ngModel)]="dataList.remark" formControlName="remark" placeholder="输入备注信息">
                        </textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2" nzRequired>
                         offer邮件模板
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-select formControlName="interviewNotifyEmailTemplateId" nzAllowClear nzPlaceHolder="系统通用邮件通知" [(ngModel)]="emailType">
                            <nz-option *ngFor="let option of templateDataEamil" [nzLabel]="option.templateName" [nzValue]="option.guid">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="2">
                        <label nz-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">发送offer短信</label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="16">
                        <nz-select [ngModelOptions]="{standalone: true}" nzAllowClear nzPlaceHolder="请选择工作性质" [(ngModel)]="msgType">
                            <nz-option *ngFor="let option of templateDataMsg" [nzLabel]="option.templateName" [nzValue]="option.guid">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-col>
    </div>

</nz-card>
 <!-- 查看offer -->
<nz-modal [(nzVisible)]="isVisibleoffer" [nzTitle]="inteviewNoticeTitleTemplate" [nzWidth]="800" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCanceloffer()">
        <ng-template #inteviewNoticeTitleTemplate>
            入职通知书
        </ng-template>  
        <ng-template #modalContent>
            <div [innerHTML]="inteviewNoticeTitle"></div>
            <div [innerHTML]="inteviewNoticeContent"></div>
        </ng-template>  
        <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="handleCanceloffer()">返回</button>
        </ng-template>  
   
</nz-modal>
<!-- 入职联系人-->
<nz-modal nzWrapClassName="vertical-center-modal" nzOkText="确定" nzCancelText="取消" [(nzVisible)]="setEmployeeState" nzTitle="公司联系人"
    (nzOnCancel)="setEmployeesCancel()" (nzOnOk)="setEmployeesOk()">
    <div nz-row>
        公司联系人：{{selectPeopleName }}
    </div>
    <div nz-row>
        <div nz-col nzSpan="12" style="border-right:1px #ddd solid;min-height:100px">
            <nz-tree [(ngModel)]="employeeList" [nzCheckable]="false" [nzMultiple]="false" (nzClick)="mouseAction('click',$event)" (nzDblClick)="mouseAction('dblclick', $event)"
                (nzCheckBoxChange)="mouseAction('checkout', $event)">
            </nz-tree>
        </div>
        <div nz-col nzSpan="12" style="padding-left:20px;min-height:100px">
            <nz-radio-group [(ngModel)]="selectPeopleData" (ngModelChange)="getChecked()">
                <label nz-radio style="width: 50%;margin-right:0 " *ngFor="let item of peopleData;let no = index" [nzValue]="item.guid">{{ item.name }}</label>
            </nz-radio-group>
        </div>
    </div>
</nz-modal>